@page
@model IndexModel
@section Metadata {
    <title>Affordable Cell Phone Plans | Bailey's Phones and Repair</title>
    <link rel="shortcut icon" type="image/x-icon" href="/icon.png" />
    <link rel="canonical" href="https://baileysphonesandrepairs.com" />
    <link rel="image_src" href="/images/baileys-phone-repairs-logo.png" />
    <meta itemprop="name" content="Bailey's Phones and Repair" />
    <meta itemprop="url" content="https://baileysphonesandrepairs.com" />
    <meta itemprop="description" content="We aim to bring satisfaction in providing the right phone service plan for our customers. Call Us today 208-650-4140" />
    <meta itemprop="thumbnailUrl" content="/images/index-banner.jpg" />
    <meta itemprop="image" content="/images/index-banner.jpg" />
    <meta name="description" content="We aim to bring satisfaction in providing the right phone service plan for our customers. Call Us today 208-650-4140" />
    <meta property="og:site_name" content="Bailey's Phones and Repair" />
    <meta property="og:title" content="Affordable Cell Phone Plans | Bailey's Phones and Repair" />
    <meta property="og:url" content="https://baileysphonesandrepair.com" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="We aim to bring satisfaction in providing the right phone service plan for our customers. Call Us today 208-650-4140" />
    <meta property="og:image" content="/images/index-banner.jpg" />
    <meta property="og:image:width" content="2120" />
    <meta property="og:image:height" content="1415" />
    <meta name="twitter:title" content="Affordable Cell Phone Plans | Bailey's Phones and Repair" />
    <meta name="twitter:image" content="/images/index-banner.jpg" />
    <meta name="twitter:url" content="https://baileysphonesandrepair.com" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="We aim to bring satisfaction in providing the right phone service plan for our customers. Call Us today 208-650-4140" />
}
@section Schema {
    <script type="application/ld+json">
        {"@@context":"https://schema.org","@@graph":[{"@@type":"MobilePhoneStore","@@id":"http://baileysphonesandrepair.com/#organization","name":"Bailey's Phones and Repair","url":"https://baileysphonesandrepair.com","image":"https://baileysphonesandrepair.com/images/index-banner.jpg","email":"brenda.bailey@live.com","telephone":"+1 2086504140","priceRange":"$","paymentAccepted":"Cash, Credit Card","contactPoint":{"@@type":"ContactPoint","contactType":"Sales","email":"brenda.bailey@live.com","telephone":"+1 2086504140"},"review":{"@@type":"Review","url":"https://goo.gl/maps/tiF7Twj1g2jymu9w8","author":{"@@type":"Person","name":"Caroline Davis"},"publisher":{"@@type":"Organization","name":"Google","sameAs":"https://google.com"},"datePublished":"2020-06-13T20:00","description":"The lady was very helpful will go back again","inLanguage":"en","reviewRating":{"@@type":"Rating","worstRating":1,"bestRating":5,"ratingValue":5}}},{"@@context":"https://schema.org","@@type":"Website","@@id":"http://baileysphonesandrepair.com/#organization","name":"Bailey's Phones and Repair","url":"https://baileysphonesandrepair.com","contentRating":"G","keywords":"family cell plans, individual cell plans, pay as you go cell plans, cell phones, cell phone accessories"},{"@@context":"https://schema.org","@@type":"Organization","@@id":"http://baileysphonesandrepair.com/#organization","url":"http://baileysphonesandrepair.com","logo":"https://baileysphonesandrepair.com/images/baileys-phone-repairs-logo.png"},{"@@context":"http://schema.org","@@type":"WebPage","@@id":"http://baileysphonesandrepair.com/#organization","name":"Affordable Cell Phone Plans | Bailey's Phones and Repair","description":"We aim to bring satisfaction in providing the right phone service plan for our customers. Call Us today 208-650-4140"},{"@@context":"https://schema.org","@@type":"BreadcrumbList","@@id":"http://baileysphonesandrepair.com/#organization","itemListElement":[{"@@type":"ListItem","position":"1","name":"Affordable Cell Phone Plans | Bailey's Phones and Repair","item":"https://baileysphonesandrepair.com"}]}]}
    </script>
}
        <div class="row">
            <div class="col-12">
                <div class="row justify-content-center flex-column-reverse flex-md-row text-center bg-gradient-custom">
                    <div class="col-12 col-md-6 my-auto align-content-center text-center text-white">
                        <div class="row">
                            <div class="col-8 my-5 my-md-0 mx-auto ml-md-auto mr-md-5 text-center text-md-left">
                                <h1>The phone plans you<br />have been looking for.</h1>
                                <h5 class="mb-5">We aim to bring satisfaction in providing the right<br />phone service plan for our customers.</h5>
                                <a asp-page="/PhonePlans" class="btn universal-btn font-weight-bold rounded-pill py-3 px-5"><h4>GET STARTED</h4></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 text-center p-0">
                        <img class="img-fluid w-100" src="~/images/index-banner.jpg" alt="Alternate Text" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-8 mx-auto justify-content-center text-center">
                <div class="col-12 my-5">
                    <div class="row justify-content-center align-items-center text-center">
                        <div class="col-12 col-lg-4 mb-3 mb-lg-0">
                            <img class="img-fluid w-50" src="~/images/total-wireless-logo.png" alt="Total Wireless" />
                        </div>
                        <div class="col-12 col-lg-4 mb-3 mb-lg-0">
                            <img class="img-fluid" src="~/images/tracfone-logo-edit.png" alt="Tracfone" />
                        </div>

                        <div class="col-12 col-lg-4 mb-3 mb-lg-0">
                            <img class="img-fluid w-50" src="~/images/net10-logo.png" alt="Net 10" />
                        </div>
                    </div>
                    <div class="row justify-content-center align-items-center text-center">
                        <div class="col-12 col-lg-4 mb-3 mb-lg-0">
                            <img class="img-fluid" src="~/images/simple-mobile-logo.png" alt="Simple Mobile" />
                        </div>

                        <div class="col-12 col-lg-4 mb-3 mb-lg-0">
                            <img class="img-fluid" src="~/images/page-plus-logo.png" alt="Page Plus" />
                        </div>
                    </div>
                </div>
                <div class="col-12 my-5"><h3>We help people and companies meet their basic<br />phone service, talk, text, and data needs</h3></div>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-8 mx-auto my-5">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-6 col-xl-3 text-center justify-content-center">
                        <div class="card mx-auto mb-5 mb-xl-0 shadow border-0" style="max-width: 18rem; height: 35rem;">
                            <h3 class="card-title my-5 font-weight-normal">Standard</h3>
                            <img src="~/images/standard-plan-vector.jpg" class="img-fluid mx-auto w-50" alt="standard plan">
                            <div class="card-body">
                                <p class="universal-text-primary card-text mb-1 font-weight-bold">As low as</p>
                                <h2 class="card-text universal-text-secondary">$10.00</h2>
                                <h5 class="card-text universal-text-secondary mb-4">100 minutes/120 days</h5>
                                <p class="card-text">Pay-as-you-go plans<br />on 4G networks</p>
                                <a asp-page="/PhonePlans" class="btn universal-btn-outline font-weight-bold rounded-pill px-3">LEARN MORE</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-xl-3 text-center justify-content-center">
                        <div class="card mx-auto mb-5 mb-xl-0 shadow border-0" style="max-width: 18rem; height: 35rem;">
                            <h3 class="card-title my-5 font-weight-normal">100mb Data</h3>
                            <img src="~/images/100mb-plan-vector.jpg" class="img-fluid mx-auto w-50" alt="100mb data plan">
                            <div class="card-body">
                                <p class="universal-text-primary card-text mb-1 font-weight-bold">As low as</p>
                                <h2 class="card-text universal-text-secondary">$12.00</h2>
                                <h5 class="card-text universal-text-secondary mb-4">500 minutes & 500 texts</h5>
                                <p class="card-text">100mb data on<br />4G LTE</p>
                                <a asp-page="/PhonePlans" class="btn universal-btn-outline font-weight-bold rounded-pill px-3">KNOW MORE</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-xl-3 text-center justify-content-center">
                        <div class="card mx-auto mb-5 mb-xl-0 shadow border-0" style="max-width: 18rem; height: 35rem;">
                            <h3 class="card-title my-5 font-weight-normal">3gb Data</h3>
                            <img src="~/images/unlimited-plan-vector.jpg" class="img-fluid mx-auto w-50" alt="unlimited data plan">
                            <div class="card-body">
                                <p class="universal-text-primary card-text mb-1 font-weight-bold">As low as</p>
                                <h2 class="card-text universal-text-secondary">$29.95</h2>
                                <h5 class="card-text universal-text-secondary mb-4">Unlimited Talk/Text</h5>
                                <p class="card-text">Includes $10 international<br />calling credit</p>
                                <a asp-page="/PhonePlans" class="btn universal-btn-outline font-weight-bold rounded-pill px-3">KNOW MORE</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-xl-3 text-center justify-content-center">
                        <div class="card mx-auto mb-5 mb-xl-0 shadow border-0" style="max-width: 18rem; height: 35rem;">
                            <h3 class="card-title my-5 font-weight-normal">2/3/4 Phone Plans</h3>
                            <img src="~/images/family-plan-vector.jpg" class="img-fluid mx-auto w-50" alt="multi phone plan">
                            <div class="card-body">
                                <p class="universal-text-primary card-text mb-1 font-weight-bold">2 lines for</p>
                                <h2 class="card-text universal-text-secondary">$60.00</h2>
                                <h5 class="card-text universal-text-secondary mb-4">Unlimited Talk/Text</h5>
                                <p class="card-text">Share 30gb of data at high speed, then any data after that on 2G.</p>
                                <a asp-page="/PhonePlans" class="btn universal-btn-outline font-weight-bold rounded-pill px-3">KNOW MORE</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 text-center mt-5">
                <a asp-page="/PhonePlans" class="btn universal-btn font-weight-bold rounded-pill py-3 px-5"><h4>SEE ALL PLANS</h4></a>
            </div>
        </div>
        <div class="row">
            <div class="col-10 mx-auto text-center mb-lg-5">
                <h2>Enjoy seamless features and<br />friendly customer service!</h2>
                <div class="row mt-5">
                    <div class="col-12 col-lg-4 text-center text-lg-right">
                        <div class="row my-5">
                            <div class="col-10">
                                <h4>Affordable No-contract Plans</h4>
                                <p>Affordable no-contract plans over the<br />largest networks with unlimited data</p>
                            </div>
                            <div class="col-2">
                                <img class="img-fluid" src="~/images/economical-icon.png" alt="Alternate Text" />
                            </div>
                        </div>
                        <div class="row my-5">
                            <div class="col-10">
                                <h4>Nationwide Coverage</h4>
                                <p>Runs on the nation's largest and<br />most dependable 4G LTE network</p>
                            </div>
                            <div class="col-2">
                                <img class="img-fluid" src="~/images/lte-icon.png" alt="Alternate Text" />
                            </div>
                        </div>
                        <div class="row my-5">
                            <div class="col-10">
                                <h4>Activate from Anywhere</h4>
                                <p>Activate from our location to anywhere<br />in the U.S. in the network</p>
                            </div>
                            <div class="col-2">
                                <img class="img-fluid" src="~/images/keyl-icon.png" alt="Alternate Text" />
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 d-none d-lg-inline my-auto text-center">
                        <img class="img-fluid text-center w-50" src="~/images/plan-features.jpg" alt="Alternate Text" />
                    </div>
                    <div class="col-12 col-lg-4 text-center text-lg-left">
                        <div class="row mb-5 my-lg-5">
                            <div class="col-2 order-1 order-lg-0">
                                <img class="img-fluid" src="~/images/key-icon.png" alt="Alternate Text" />
                            </div>
                            <div class="col-10 order-0 order-lg-1">
                                <h4>Automatic Renewal Set Up</h4>
                                <p>Automatic renewal set up - no extra<br />charge</p>
                            </div>
                        </div>
                        <div class="row my-5">
                            <div class="col-2 order-1 order-lg-0">
                                <img class="img-fluid" src="~/images/free-call-icon.png" alt="Alternate Text" />
                            </div>
                            <div class="col-10 order-0 order-lg-1">
                                <h4>Free Call Credit</h4>
                                <p>$10 international credit included in unlimited<br />data plans every month - call over 60 countries</p>
                            </div>
                        </div>
                        <div class="row my-5">
                            <div class="col-2 order-1 order-lg-0">
                                <img class="img-fluid" src="~/images/signal-icon.png" alt="Alternate Text" />
                            </div>
                            <div class="col-10 order-0 order-lg-1">
                                <h4>No Activation Fee</h4>
                                <p>No contract wireless service</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
