@page "/internet-services"
@model BA.BaileysPhonesAndRepairs.Pages.InternetServicesModel
@section Metadata {
    <title>Internet Services | Bailey's Phones and Repair</title>
    <link rel="shortcut icon" type="image/x-icon" href="/icon.png" />
    <link rel="canonical" href="https://baileysphonesandrepairs.com/internet-services" />
    <link rel="image_src" href="/images/internet-services-banner.jpg" />
    <meta itemprop="name" content="Bailey's Phones and Repair" />
    <meta itemprop="url" content="https://baileysphonesandrepairs.com/internet-services" />
    <meta itemprop="description" content="Mobile hot spots that can provide internet in remote areas. 208-650-4140" />
    <meta itemprop="thumbnailUrl" content="/images/internet-services-banner.jpg" />
    <meta itemprop="image" content="/images/internet-services-banner.jpg" />
    <meta name="description" content="Mobile hot spots that can provide internet in remote areas. 208-650-4140" />
    <meta property="og:site_name" content="Bailey's Phones and Repair" />
    <meta property="og:title" content="Contact Us | Bailey's Phones and Repair" />
    <meta property="og:url" content="https://baileysphonesandrepair.com/internet-services" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Mobile hot spots that can provide internet in remote areas. 208-650-4140" />
    <meta property="og:image" content="/images/internet-services-banner.jpg" />
    <meta property="og:image:width" content="2121" />
    <meta property="og:image:height" content="1414" />
    <meta name="twitter:title" content="Contact Us | Bailey's Phones and Repair" />
    <meta name="twitter:image" content="/images/internet-services-banner.jpg" />
    <meta name="twitter:url" content="https://baileysphonesandrepair.com/internet-services" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="Mobile hot spots that can provide internet in remote areas. 208-650-4140" />
}
@section Schema {
    <script type="application/ld+json">
        {"@@context":"https://schema.org","@@graph":[{"@@type":"MobilePhoneStore","@@id":"http://baileysphonesandrepair.com/#organization","name":"Bailey's Phones and Repair","url":"https://baileysphonesandrepair.com","image":"https://baileysphonesandrepair.com/images/index-banner.jpg","email":"brenda.bailey@live.com","telephone":"+1 2086504140","priceRange":"$","paymentAccepted":"Cash, Credit Card","contactPoint":{"@@type":"ContactPoint","contactType":"Sales","email":"brenda.bailey@live.com","telephone":"+1 2086504140"},"review":{"@@type":"Review","url":"https://goo.gl/maps/tiF7Twj1g2jymu9w8","author":{"@@type":"Person","name":"Caroline Davis"},"publisher":{"@@type":"Organization","name":"Google","sameAs":"https://google.com"},"datePublished":"2020-06-13T20:00","description":"The lady was very helpful will go back again","inLanguage":"en","reviewRating":{"@@type":"Rating","worstRating":1,"bestRating":5,"ratingValue":5}}},{"@@context":"https://schema.org","@@type":"Website","@@id":"http://baileysphonesandrepair.com/#organization","name":"Bailey's Phones and Repair","url":"https://baileysphonesandrepair.com","contentRating":"G","keywords":"family cell plans, individual cell plans, pay as you go cell plans, cell phones, cell phone accessories"},{"@@context":"https://schema.org","@@type":"Organization","@@id":"http://baileysphonesandrepair.com/#organization","url":"http://baileysphonesandrepair.com","logo":"https://baileysphonesandrepair.com/images/baileys-phone-repairs-logo.png"},{"@@context":"http://schema.org","@@type":"WebPage","@@id":"http://baileysphonesandrepair.com/#organization","name":"Internet Service | Bailey's Phones and Repair","description":"Mobile hot spots that can provide internet in remote areas. 208-650-4140"},{"@@context":"https://schema.org","@@type":"BreadcrumbList","@@id":"http://baileysphonesandrepair.com/#organization","itemListElement":[{"@@type":"ListItem","position":"1","name":"Affordable Cell Phone Plans | Bailey's Phones and Repair","item":"https://baileysphonesandrepair.com"},{"@@type":"ListItem","position":"2","name":"Internet Services | Bailey's Phones and Repair","item":"https://baileysphonesandrepair.com/internet-services"}]}]}
    </script>
}
<div class="row mb-5">
    <div class="col-12">
        <div class="row justify-content-center flex-column-reverse flex-md-row text-center bg-gradient-custom">
            <div class="col-12 col-md-6 my-auto align-content-center text-center text-white">
                <div class="row">
                    <div class="col-8 my-5 my-md-0 mx-auto ml-md-auto mr-md-5 text-center text-md-left">
                        <h1>Mobile Hotspot</h1>
                        <h3>Works Outside City Limits</h3>
                        <h5 class="mb-5">An internet option available for those<br />even in the most rural areas</h5>
                        <a asp-page="/ContactUs" class="btn universal-btn font-weight-bold rounded-pill py-3 px-5"><h4>CONTACT US</h4></a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 text-center p-0">
                <img class="img-fluid w-100" src="~/images/internet-services-banner.jpg" alt="Alternate Text" />
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-10 mx-auto text-center mb-lg-5">
        <h2>Verizon Hotspot on the go</h2>
        <h4>Unlimited Data - $63.20 a Month</h4>
        <h5>Idaho taxes and fees included</h5>
        <div class="row mt-5">
            <div class="col-12 col-lg-4 d-lg-inline my-auto text-center">
                <img class="img-fluid text-center w-100 rounded mb-5 mb-lg-0" src="~/images/verizon-jetpack.jpg" alt="Verizon Jetpack" />
            </div>
            <div class="col-12 col-lg-4 text-center text-lg-left">
                <div class="row mb-5 my-lg-5">
                    <div class="col-2 order-1 order-lg-0">
                        <img class="img-fluid" src="~/images/key-icon.png" alt="Alternate Text" />
                    </div>
                    <div class="col-10 order-0 order-lg-1">
                        <h4>Unlimited Data</h4>
                        <p>Fully unlimited data<br />slows down after 200gb</p>
                    </div>
                </div>
                <div class="row my-5">
                    <div class="col-2 order-1 order-lg-0">
                        <img class="img-fluid" src="~/images/keyl-icon.png" alt="Alternate Text" />
                    </div>
                    <div class="col-10 order-0 order-lg-1">
                        <h4>One-Time Purchase for device</h4>
                        <p>No contract<br />or overage charges</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 text-center text-lg-left">
                <div class="row mb-5 my-lg-5">
                    <div class="col-2 order-1 order-lg-0">
                        <img class="img-fluid" src="~/images/signal-icon.png" alt="Alternate Text" />
                    </div>
                    <div class="col-10 order-0 order-lg-1">
                        <h4>Shipping Available Anywhere<br />in the U.S.</h4>
                        <p>Works outside citiy limits on<br />AT&T, Sprint, Verizon, or T-Mobile networks</p>
                    </div>
                </div>
                <div class="row my-5">
                    <div class="col-2 order-1 order-lg-0">
                        <img class="img-fluid" src="~/images/free-call-icon.png" alt="Alternate Text" />
                    </div>
                    <div class="col-10 order-0 order-lg-1">
                        <h4>No Activation Fee</h4>
                        <p>Simply pay for SIM card<br />and monthly plan</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

