@page "/phone-plans"
@model BA.BaileysPhonesAndRepairs.Pages.PhonePlansModel
@section Metadata {
    <title>Phone Plans | Bailey's Phones and Repair</title>
    <link rel="shortcut icon" type="image/x-icon" href="/icon.png" />
    <link rel="canonical" href="https://baileysphonesandrepairs.com/phone-plans" />
    <link rel="image_src" href="/images/phone-plans-banner.jpg" />
    <meta itemprop="name" content="Bailey's Phones and Repair" />
    <meta itemprop="url" content="https://baileysphonesandrepairs.com/phone-plans" />
    <meta itemprop="description" content="Phone plans by trusted and well established carriers. 208-650-4140" />
    <meta itemprop="thumbnailUrl" content="/images/phone-plans-banner.jpg" />
    <meta itemprop="image" content="/images/phone-plans-banner.jpg" />
    <meta name="description" content="Phone plans by trusted and well established carriers. 208-650-4140" />
    <meta property="og:site_name" content="Bailey's Phones and Repair" />
    <meta property="og:title" content="Phone Plans | Bailey's Phones and Repair" />
    <meta property="og:url" content="https://baileysphonesandrepair.com/phone-plans" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Phone plans by trusted and well established carriers. 208-650-4140" />
    <meta property="og:image" content="/images/phone-plans-banner.jpg" />
    <meta property="og:image:width" content="2121" />
    <meta property="og:image:height" content="1414" />
    <meta name="twitter:title" content="Phone Plans | Bailey's Phones and Repair" />
    <meta name="twitter:image" content="/images/phone-plans-banner.jpg" />
    <meta name="twitter:url" content="https://baileysphonesandrepair.com/phone-plans" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="Phone plans by trusted and well established carriers. 208-650-4140" />
}
@section Schema {
    <script type="application/ld+json">
        {"@@context":"https://schema.org","@@graph":[{"@@context":"https://schema.org","@@type":"Website","@@id":"http://baileysphonesandrepair.com/#organization","name":"Bailey's Phones and Repair","url":"https://baileysphonesandrepair.com","contentRating":"G","keywords":"family cell plans, individual cell plans, pay as you go cell plans, cell phones, cell phone accessories"},{"@@context":"https://schema.org","@@type":"Organization","@@id":"http://baileysphonesandrepair.com/#organization","url":"http://baileysphonesandrepair.com","logo":"https://baileysphonesandrepair.com/images/baileys-phone-repairs-logo.png"},{"@@context":"http://schema.org","@@type":"WebPage","@@id":"http://baileysphonesandrepair.com/#organization","name":"Bailey's Phones and Repair","description":"Phone plans by trusted and well established carriers. 208-650-4140"},{"@@context":"https://schema.org","@@type":"BreadcrumbList","@@id":"http://baileysphonesandrepair.com/#organization","itemListElement":[{"@@type":"ListItem","position":"1","name":"Affordable Cell Phone Plans | Bailey's Phones and Repair","item":"https://baileysphonesandrepair.com"},{"@@type":"ListItem","position":"2","name":"Phone Plans | Bailey's Phones and Repair","item":"https://baileysphonesandrepair.com/phone-plans"}]},{"@@context":"http://schema.org/","@@type":"Service","@@id":"http://baileysphonesandrepair.com/#organization","serviceType":"Cell Phone Plans","provider":{"@@type":"MobilePhoneStore","@@id":"http://baileysphonesandrepair.com/#organization","name":"Bailey's Phones and Repair","url":"https://baileysphonesandrepair.com","image":"https://baileysphonesandrepair.com/images/index-banner.jpg","email":"brenda.bailey@@live.com","telephone":"+1 2086504140","priceRange":"$","paymentAccepted":"Cash, Credit Card","contactPoint":{"@@type":"ContactPoint","contactType":"Sales","email":"brenda.bailey@@live.com","telephone":"+1 2086504140"},"review":{"@@type":"Review","url":"https://goo.gl/maps/tiF7Twj1g2jymu9w8","author":{"@@type":"Person","name":"Caroline Davis"},"publisher":{"@@type":"Organization","name":"Google","sameAs":"https://google.com"},"datePublished":"2020-06-13T20:00","description":"The lady was very helpful will go back again","inLanguage":"en","reviewRating":{"@@type":"Rating","worstRating":1,"bestRating":5,"ratingValue":5}}},"areaServed":{"@@type":"GeoCircle","geoMidpoint":{"@@type":"GeoCoordinates","latitude":42.5585,"longitude":-113.7639},"geoRadius":10},"hasOfferCatalog":{"@@type":"OfferCatalog","name":"Cell Phone Plans","itemListElement":[{"@@type":"OfferCatalog","name":"Individual Plans","itemListElement":[{"@@type":"Offer","itemOffered":{"@@type":"Service","name":"Unlimited Data"}},{"@@type":"Offer","itemOffered":{"@@type":"Service","name":"25gb Data"}},{"@@type":"Offer","itemOffered":{"@@type":"Service","name":"8gb Data"}},{"@@type":"Offer","itemOffered":{"@@type":"Service","name":"3gb Data"}},{"@@type":"Offer","itemOffered":{"@@type":"Service","name":"500 talk minutes 500 texts"}}]},{"@@type":"OfferCatalog","name":"Family Plans","itemListElement":[{"@@type":"Offer","itemOffered":{"@@type":"Service","name":"2 phones shared 30gb data"}},{"@@type":"Offer","itemOffered":{"@@type":"Service","name":"3 phones shared 60gb data"}},{"@@type":"Offer","itemOffered":{"@@type":"Service","name":"4 phones shared 100gb data"}}]},{"@@type":"OfferCatalog","name":"Pay-As-You-Go Plans","itemListElement":[{"@@type":"Offer","itemOffered":{"@@type":"Service","name":"166 minutes"}},{"@@type":"Offer","itemOffered":{"@@type":"Service","name":"416 minutes"}},{"@@type":"Offer","itemOffered":{"@@type":"Service","name":"833 minutes"}}]},{"@@type":"OfferCatalog","name":"Annual Plan","itemListElement":[{"@@type":"Offer","itemOffered":{"@@type":"Service","name":"1333 minutes"}}]}]}}]}
    </script>
}
<div class="row mb-5">
    <div class="col-12">
        <div class="row justify-content-center flex-column-reverse flex-md-row text-center bg-gradient-custom">
            <div class="col-12 col-md-6 my-auto align-content-center text-center text-white">
                <div class="row">
                    <div class="col-8 my-5 my-md-0 mx-auto ml-md-auto mr-md-5 text-center text-md-left">
                        <h1>Phone Plans</h1>
                        <h3>SAVE on your mobile phone bill</h3>
                        <h5 class="mb-5">Plans that fit your needs and pocket both.</h5>
                        <a asp-page="/ContactUs" class="btn universal-btn font-weight-bold rounded-pill py-3 px-5"><h4>CONTACT US</h4></a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 text-center p-0">
                <img class="img-fluid w-100" src="~/images/phone-plans-banner.jpg" alt="Alternate Text" />
            </div>
        </div>
    </div>
</div>
<div class="row my-5">
    <div class="col-8 mx-auto">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-4 mb-5 m-lg-auto text-center text-lg-left">
                <h3>For 4G Phones<br />Unlimited Talk & Text</h3>
                <h5 class="font-weight-light">We aim to bring satisfaction in providing the right phone service plan for our customers.</h5>
            </div>
            <div class="col-12 col-lg-6">
                <div class="card border-0 shadow mx-auto pastel-one" style="width: 25rem;">
                    <div class="card-header py-4">
                        <h3 class="font-weight-light">Individual Plans</h3>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item py-3">
                            <div class="row justify-content-between align-items-center">
                                <div class="col-6 my-auto">
                                    <h5 class="m-0">Unlimited Data*</h5>
                                    <p class="text-muted m-0">Caps out at 200gb</p>
                                </div>
                                <div class="col-6 text-right my-auto"><h5>$55</h5></div>
                            </div>
                        </li>
                        <li class="list-group-item py-3">
                            <div class="row justify-content-between align-items-center">
                                <div class="col-6 my-auto">
                                    <h5 class="m-0">25gb Data</h5>
                                </div>
                                <div class="col-6 text-right my-auto"><h5>$50</h5></div>
                            </div>
                        </li>
                        <li class="list-group-item py-3">
                            <div class="row justify-content-between align-items-center">
                                <div class="col-6 my-auto">
                                    <h5 class="m-0">8gb Data*</h5>
                                </div>
                                <div class="col-6 text-right my-auto"><h5>$39.95</h5></div>
                            </div>
                        </li>
                        <li class="list-group-item py-3">
                            <div class="row justify-content-between align-items-center">
                                <div class="col-6 my-auto">
                                    <h5 class="m-0">3gb Data*</h5>
                                </div>
                                <div class="col-6 text-right my-auto"><h5>$29.95</h5></div>
                            </div>
                        </li>
                        <li class="list-group-item py-3">
                            <div class="row justify-content-between align-items-center">
                                <div class="col-6 my-auto">
                                    <h5 class="m-0">500 talk minutes<br />500 texts</h5>
                                </div>
                                <div class="col-6 text-right my-auto"><h5>$12</h5></div>
                            </div>
                        </li>
                        <li class="list-group-item py-3">
                            <div class="row justify-content-between align-items-center">
                                <div class="col-12 my-auto">
                                    <p class="m-0 font-weight-light">* includes $10 international calling<br />with option to purchase additional minutes</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row my-5">
    <div class="col-8 mx-auto">
        <div class="row justify-content-between">
            <div class="col-12 col-lg-6 order-2 order-lg-1">
                <div class="card border-0 shadow mx-auto pastel-two" style="width: 25rem;">
                    <div class="card-header py-4">
                        <h3 class="font-weight-light">Family Plans</h3>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item py-3">
                            <div class="row justify-content-between align-items-center">
                                <div class="col-6 my-auto">
                                    <h5 class="m-0">2 phones shared</h5>
                                    <p class="text-muted m-0">30gb data</p>
                                </div>
                                <div class="col-6 text-right my-auto"><h5>$60</h5></div>
                            </div>
                        </li>
                        <li class="list-group-item py-3">
                            <div class="row justify-content-between align-items-center">
                                <div class="col-6 my-auto">
                                    <h5 class="m-0">3 phones shared</h5>
                                    <p class="text-muted m-0">60gb data</p>
                                </div>
                                <div class="col-6 text-right my-auto"><h5>$85</h5></div>
                            </div>
                        </li>
                        <li class="list-group-item py-3">
                            <div class="row justify-content-between align-items-center">
                                <div class="col-6 my-auto">
                                    <h5 class="m-0">4 phones shared</h5>
                                    <p class="text-muted m-0">100gb data</p>
                                </div>
                                <div class="col-6 text-right my-auto"><h5>$100</h5></div>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="col-12 col-lg-4 mb-5 m-lg-auto order-1 order-lg-2 text-center text-lg-left">
                <h3>Family plans for sharing<br />the bill</h3>
                <h5 class="font-weight-light">For those who who prefer a more economical plan for multiple devices.</h5>
            </div>
        </div>
    </div>
</div>

<div class="row my-5">
    <div class="col-8 mx-auto">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-4 mb-5 m-lg-auto text-center text-lg-left">
                <h3 class="font-weight">Pay-As-You-Go Plans</h3>
                <h4>120 days, no text, no data</h4>
                <h5 class="font-weight-light">For those who simply need their minutes</h5>
            </div>
            <div class="col-12 col-lg-6">
                <div class="card border-0 shadow mx-auto pastel-three" style="width: 25rem;">
                    <div class="card-header py-4 d-inline">
                        <h3 class="font-weight-light">Pay-As-You-Go Plans</h3>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item py-3">
                            <div class="row justify-content-between align-items-center">
                                <div class="col-6 my-auto">
                                    <h5 class="m-0">166 minutes</h5>
                                </div>
                                <div class="col-6 text-right my-auto"><h5>$10</h5></div>
                            </div>
                        </li>
                        <li class="list-group-item py-3">
                            <div class="row justify-content-between align-items-center">
                                <div class="col-6 my-auto">
                                    <h5 class="m-0">416 minutes</h5>
                                </div>
                                <div class="col-6 text-right my-auto"><h5>$25</h5></div>
                            </div>
                        </li>
                        <li class="list-group-item py-3">
                            <div class="row justify-content-between align-items-center">
                                <div class="col-6 my-auto">
                                    <h5 class="m-0">833 minutes</h5>
                                </div>
                                <div class="col-6 text-right my-auto"><h5>$50</h5></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row my-5">
    <div class="col-8 mx-auto">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6">
                <div class="card border-0 shadow mx-auto pastel-two" style="width: 25rem;">
                    <div class="card-header py-4 d-inline">
                        <h3 class="font-weight-light">Annual Plan</h3>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item py-3">
                            <div class="row justify-content-between align-items-center">
                                <div class="col-6 my-auto">
                                    <h5 class="m-0">1333 minutes</h5>
                                </div>
                                <div class="col-6 text-right my-auto"><h5>$80</h5></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-lg-4 mb-5 m-lg-auto text-center text-lg-left">
                <h3 class="font-weight">Annual Cash Plan</h3>
                <h4>$0.06 per minute</h4>
                <h5 class="font-weight-light">Get the most minutes for your money</h5>
            </div>
        </div>
    </div>
</div>

