@page "/reviews"
@model BA.BaileysPhonesAndRepairs.Pages.ReviewsModel
@section Metadata {
    <title>Reviews | Bailey's Phones and Repair</title>
    <link rel="shortcut icon" type="image/x-icon" href="/icon.png" />
    <link rel="canonical" href="https://baileysphonesandrepairs.com/reviews" />
    <link rel="image_src" href="/images/reviews-banner.jpg" />
    <meta itemprop="name" content="Bailey's Phones and Repair" />
    <meta itemprop="url" content="https://baileysphonesandrepairs.com/reviews" />
    <meta itemprop="description" content="Many satisfied customers use Bailey's Phones and Repair for their cell phone needs. 208-650-4140" />
    <meta itemprop="thumbnailUrl" content="/images/reviews-banner.jpg" />
    <meta itemprop="image" content="/images/reviews-banner.jpg" />
    <meta name="description" content="Many satisfied customers use Bailey's Phones and Repair for their cell phone needs. 208-650-4140" />
    <meta property="og:site_name" content="Bailey's Phones and Repair" />
    <meta property="og:title" content="Reviews | Bailey's Phones and Repair" />
    <meta property="og:url" content="https://baileysphonesandrepair.com/reviews" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Many satisfied customers use Bailey's Phones and Repair for their cell phone needs. 208-650-4140" />
    <meta property="og:image" content="/images/reviews-banner.jpg" />
    <meta property="og:image:width" content="2121" />
    <meta property="og:image:height" content="1414" />
    <meta name="twitter:title" content="Phone Plans | Bailey's Phones and Repair" />
    <meta name="twitter:image" content="/images/reviews-banner.jpg" />
    <meta name="twitter:url" content="https://baileysphonesandrepair.com/reviews" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="Many satisfied customers use Bailey's Phones and Repair for their cell phone needs. 208-650-4140" />
}
@section Schema {
    <script type="application/ld+json">
        {"@@context":"https://schema.org","@@graph":[{"@@type":"MobilePhoneStore","@@id":"http://baileysphonesandrepair.com/#organization","name":"Bailey's Phones and Repair","url":"https://baileysphonesandrepair.com","image":"https://baileysphonesandrepair.com/images/index-banner.jpg","email":"brenda.bailey@live.com","telephone":"+1 2086504140","priceRange":"$","paymentAccepted":"Cash, Credit Card","contactPoint":{"@@type":"ContactPoint","contactType":"Sales","email":"brenda.bailey@live.com","telephone":"+1 2086504140"},"review":{"@@type":"Review","url":"https://goo.gl/maps/tiF7Twj1g2jymu9w8","author":{"@@type":"Person","name":"Caroline Davis"},"publisher":{"@@type":"Organization","name":"Google","sameAs":"https://google.com"},"datePublished":"2020-06-13T20:00","description":"The lady was very helpful will go back again","inLanguage":"en","reviewRating":{"@@type":"Rating","worstRating":1,"bestRating":5,"ratingValue":5}}},{"@@context":"https://schema.org","@@type":"Website","@@id":"http://baileysphonesandrepair.com/#organization","name":"Bailey's Phones and Repair","url":"https://baileysphonesandrepair.com","contentRating":"G","keywords":"family cell plans, individual cell plans, pay as you go cell plans, cell phones, cell phone accessories"},{"@@context":"https://schema.org","@@type":"Organization","@@id":"http://baileysphonesandrepair.com/#organization","url":"http://baileysphonesandrepair.com","logo":"https://baileysphonesandrepair.com/images/baileys-phone-repairs-logo.png"},{"@@context":"http://schema.org","@@type":"WebPage","@@id":"http://baileysphonesandrepair.com/#organization","name":"Reviews | Bailey's Phones and Repair","description":"Many satisfied customers use Bailey's Phones and Repair for their cell phone needs. 208-650-4140"},{"@@context":"https://schema.org","@@type":"BreadcrumbList","@@id":"http://baileysphonesandrepair.com/#organization","itemListElement":[{"@@type":"ListItem","position":"1","name":"Affordable Cell Phone Plans | Bailey's Phones and Repair","item":"https://baileysphonesandrepair.com"},{"@@type":"ListItem","position":"2","name":"Reviews | Bailey's Phones and Repair","item":"https://baileysphonesandrepair.com/reviews"}]}]}
    </script>
}
<div class="row">
    <div class="col-12">
        <div class="row justify-content-center flex-column-reverse flex-md-row text-center bg-gradient-custom">
            <div class="col-12 col-md-6 my-auto align-content-center text-center text-white">
                <div class="row">
                    <div class="col-8 my-5 my-md-0 mx-auto ml-md-auto mr-md-5 text-center text-md-left">
                        <h1>Reviews</h1>
                        <h5 class="mb-5">Please have a look at what<br />our customers are saying about our services</h5>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 text-center p-0">
                <img class="img-fluid w-100" src="~/images/reviews-banner.jpg" alt="Alternate Text" />
            </div>
        </div>
    </div>
</div>

<div class="row my-5">
    <div class="col-8 mx-auto">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-4">
                <div class="card rounded shadow-sm border-0" style="height: 15rem;">
                    <img class="img-fluid card-img-top ml-3 mt-5" src="~/images/stars/five.png" alt="Five Stars" style="width: 25%;" />
                    <div class="card-body font-weight-bold">
                        Brenda is amazing. She takes time to explain the plans and works hard to find one that works best for the customer and only purchase the data you need. I highly recommend this business.
                    </div>
                </div>
                <div class="ml-4 mt-4">
                    <h5 class="universal-text-secondary">Lisa S</h5>
                    <p>Customer</p>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="card rounded shadow-sm border-0" style="height: 15rem;">
                    <img class="img-fluid card-img-top ml-3 mt-5" src="~/images/stars/five.png" alt="Five Stars" style="width: 25%;" />
                    <div class="card-body font-weight-bold">
                        Awesome customer support. Got the plan I actually wanted. Kudos to your service.
                    </div>
                </div>
                <div class="ml-4 mt-4">
                    <h5 class="universal-text-secondary">Melvin B</h5>
                    <p>Customer</p>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="card rounded shadow-sm border-0" style="height: 15rem;">
                    <img class="img-fluid card-img-top ml-3 mt-5" src="~/images/stars/five.png" alt="Five Stars" style="width: 25%;" />
                    <div class="card-body font-weight-bold">
                        Brenda took time to help me choose a plan for our business with 4 phones. I am saving $249 a month and we share 100gb of data.
                    </div>
                </div>
                <div class="ml-4 mt-4">
                    <h5 class="universal-text-secondary">Anonymous</h5>
                    <p>Customer</p>
                </div>
            </div>
        </div>
    </div>
</div>

