@page "/thank-you"
@model BA.BaileysPhonesAndRepairs.Pages.ThankYouModel
@section Metadata {
    <title>Thank You | Bailey's Phones and Repair</title>
    <meta itemprop="url" content="https://baileysphonesandrepairs.com/thank-you" />
    <meta itemprop="description" content="Contact Bailey's Phones and Repairs for all your cell phone needs. 208-650-4140" />
}
<div class="row justify-content-center my-5">
    <div class="col-8 mx-auto text-center font-weight-bold">
        <h1 class="text-muted">Thank You!</h1>
        <hr class="universal-hr-primary m-0 mx-auto mb-3" style="width: 25%;" />
        <h3 class="text-muted">One of our representatives will be with you shortly.</h3>
    </div>
</div>

