@page
@model BA.BaileysPhonesAndRepairs.Pages.Errors.NotFoundModel
@section Metadata {
    <title>Page Not Found | Bailey's Phones and Repair</title>
    <meta itemprop="url" content="https://baileysphonesandrepairs.com/errors/404" />
    <meta itemprop="description" content="The page you are looking for cannot be found." />
}
<div class="row justify-content-center my-5">
    <div class="col-8 mx-auto text-center font-weight-bold">
        <h1 class="text-muted">Page Not Found!</h1>
        <hr class="universal-hr-primary m-0 mx-auto mb-3" style="width: 25%;" />
        <h3 class="text-muted">The page you are looking for no longer exists. Please contact us if you continue to experience difficulty.</h3>
    </div>
</div>